.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-picture {
  position: relative;
  width: 100%;
  max-height: 750px;
  overflow: hidden;
}

.theme-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #010101;
}
