.products-container {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
}

.create-product-button {
  margin-bottom: 5px;
  margin-top: 30px;
  margin-left: 40px;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  display: inline-table;

  background-color: #555;
  width: 300px;
  border-radius: 50px;
  padding: 30px;
  margin: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card h4 {
  color: #4caf50;
}

.product-card:hover {
  background-color: #666;
}

.loading {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  color: white;
}
